* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #1f2937;
  color: white;
}
.container {
  position: relative;
  width: 80%;
  height: 90%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #111827;
  top: 5%;
}
.title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grand-father-mother {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grand-father-mother-group {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grand-father-mother-group {
  border: 2px solid white;
}
.grand-father-mother-group h3 {
  margin: 10px;
}
.hr-1 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-1 hr {
  width: 1px;
  height: 50px;
}
.father-mother {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.father-mother-group {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.father-mother-group {
  border: 2px solid white;
}
.father-mother-group h3 {
  margin: 10px;
}
.hr-2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-2 hr {
  width: 1px;
  height: 50px;
}
.hr-3 {
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-3-1 {
  width: 50%;
}

.hr-4 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-4-1 {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr-4-1 hr {
  width: 2px;
  height: 50px;
}
.anak {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.anak-anak {
  width: 63%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.anak-pertama {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.anak-kedua {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.anak-ketiga {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.anak-keempat {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.anak-kelima {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.created-by p {
  font-size: 9px;
}
